services:
  minio:
    command: server /data --console-address ":9001"
    container_name: minio
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_BROWSER_REDIRECT_URL=${MINIO_BROWSER_REDIRECT_URL}
    image: quay.io/minio/minio:RELEASE.2024-07-16T23-46-41Z-cpuv1
    volumes:
      - ${DOCKER_DATA_FOLDER}/minio/data:/data
    restart: unless-stopped
    ports:
      - 9000:9000
    expose:
      - "9000"
      - "9001"
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.myminio.rule=Host(`${DOCKER_MINIO_HOSTNAME}`)
      - traefik.http.routers.myminio.service=myminio
      - traefik.http.services.myminio.loadbalancer.server.port=9000

      - traefik.http.routers.myminioadmin.rule=Host(`${DOCKER_MINIO_ADMIN_DOMAIN}`)
      - traefik.http.routers.myminioadmin.service=myminioadmin
      - traefik.http.services.myminioadmin.loadbalancer.server.port=9001

networks:
  proxy:
    driver: bridge
