services:
  nginx:
    image: "jc21/nginx-proxy-manager:latest"
    restart: unless-stopped
    container_name: nginx-proxy-manager
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ${DOCKER_CONFIG_FOLDER}/npm/data:/data
      - ${DOCKER_CONFIG_FOLDER}/npm/letsencrypt:/etc/letsencrypt
    networks:
      - proxy
      - database
networks:
  database:
    external: true
  proxy:
    driver: bridge
